
/* 
MEDIA 
*/

/*
// MOBILE NAVIGATION //
*/

.hamburger {
    /*position: absolute;*/
    stroke: var(--color-halftone);
    /*top:180px;*/
    display: none;
  }
  
  .nav-mobile {
    background: var(--color-powder); 
    position: fixed; 
    width: 100%; 
    height: 100%;
    top:0; 
    left: -9999px; 
    z-index: 1;
  }
  
  .exit-shape{
    /*top:180px;*/
    /*position: absolute;*/
    stroke:var(--color-darkgrey);
    opacity: 1;
    cursor:pointer;
  }
  
  .exit-viewer{
    top:1px;
    position: relative;
    stroke:var(--color-darkgrey);
    opacity: 1;
    cursor:pointer;
  }
  
  .exit-shape:hover{
    stroke:var(--color-black);
  }
  .list-select {
    margin-top: 8px;
    margin-left: 30px;
  }
  
  /*
  NAV
  */
  
  @media only screen and (max-width:1024px) {
    html,body {
      overscroll-behavior-y: contain;
    }
    .hamburger {
      display: block;
      cursor: pointer;
    }
    #nav {
      display: none;
    }
    .nav-mobile.open{
      background: var(--color-powder); 
      position: fixed; 
      width: 100%; 
      height: 100%;
      top: 0; 
      left: 0; 
      z-index: 1;
    }
    .nav-mobile.closed{
      left: -9999px; 
    }
    .mobile-container{
      display:table;
      table-layout:fixed;
      position:absolute;
      width:100%;
      height:100%;
      padding-left: 8%;
      padding-right: 8%;
    }
  }

  
  .mobile-right {
    /*-left:2px;*/
    padding-top:2rem;
  }
  
  .mobile-right {
    padding-top:2rem;
  }
  
  @media only screen and (max-width:1920px) {
    .container{
      padding-left: 14%;
      padding-right: 14%;
    }
  }
  
  @media only screen and (max-width:1600px) {
    .container{
      padding-left: 9%;
      padding-right: 9%;
    }
  }
  
  @media only screen and (max-width:1280px) {
    .container{
      padding-left: 3%;
      padding-right: 3%;
    }
  }
  
  @media only screen and (max-width:1024px) {
    .nav-top {
      margin:60px 0px 0px 0px;
    }
    /*
    .hamburger {
      top:60px;
    }
    */
    /*
    .exit-shape{}
    */
    .flex-column.triple-break {
      margin-top:60px;
    }
    .container{
      padding-left: 8%;
      padding-right: 8%;
    }
    .sidebar{
      display: none;
    }
    .hamburger, .exit-shape {
      right: 8%;
    }
    .pad-select {
      padding-top: 3px;
      padding-right: 12px;
      padding-left: 0px;
    }
    .flex.table {
      flex-direction:column;
    }
    .blank {
      display: block;
    }
    div>.col-3-12{
      width: 75%;
    }
    div>.col-2-12{
      width: 75%;
    }
    div>.col-8-12{
      width: 100%;
    }
    div>.col-9-12{
      width: 100%;
    }
    div>.col-1-12{
      width: 0%;
    }
    div>.right{
      text-align:left!important;
    }
    div>.clear-divider{
      text-align:left!important;
    }
    .mobile-break{
      margin-top: 60px;
    }
    div>.mobile-destroy{
      display: none;
      margin:0;
      height:0;
    }
    div.center-fit{
      display: block;
      width: 100%;
      max-height: 400px;
      
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  
  @media only screen and (max-width:780px) {
    .thumbnail{
      height: 100%;
      width: 100%;
    }
    div.image-container{
      position: relative;
      width: 100%;
      /*height: 400px;*/
    }
    div.right-arrow{
      position: absolute;
      display: block;
      right:0px;
      height: 400px;
      width: 40px;
      z-index: 300;
      cursor:pointer;
    }
    div.left-arrow{
      position: absolute;
      display: block;
      top: 18px;
      left:8px;
      height: 400px;
      width: 40px;
      z-index: 300;
      cursor:pointer;
    }
    div.center-fit{
      max-height: 300px;
    }
    .nav-top {
      margin:45px 0px 0px 0px;
    }
    .hamburger {
      top:45px;
    }
    /*
    .exit-shape{
      top:52px;
    }
    */
    .flex-column.triple-break {
      margin-top:45px;
    }
    div>.grid-break{
      margin-top:30px;
    }
    div>.mobile-break{
      margin-top: 30px;
    }
    .container{
      padding-left: 5%;
      padding-right: 5%;
    }
    .hamburger {
      right: 6%;
    }
    .mobile-container{
      padding-left: 5%;
      padding-right: 5%;
    }
    h1{
      letter-spacing:0.06rem;
      font-size: 4rem;
      line-height: normal;
      overflow-y:visible;
    }
    h2{
      letter-spacing:0.03rem;
      font-size: 1rem;
      line-height: 1.1rem;
    }
    h3{
      letter-spacing:0.05rem;
      font-size: 1rem;
      line-height: 1.6rem;
    }
    h4{
      letter-spacing:0.06rem;
      font-size: .8rem;
      line-height: 1.4rem;
    }
    h5{
      font-size: .75rem;
      line-height: 1.4rem;
    }
    h6{
      font-size: 1rem;
      line-height: 1.2rem;
    }
    q{
      letter-spacing:0.04rem;
      font-size: .95rem;
      line-height: 1.6rem;
    }
    p.tab{
      letter-spacing:0.05rem;
      font-size: 1rem;
      line-height: 1.6rem;
      margin-left:60px;
    }
  }
  
  @media only screen and (max-width:600px) {
    /*
    .thumbnail{
      height: 100%;
      width: 100%;
    }
    */
    
    .thumb-container{
      padding-right: 23px;
      padding-bottom: 18px;
    }
  
    div.center-fit{
      max-height: 260px;
    }
  }
  
  @media only screen and (max-width:412px) {
    /*
    .thumbnail{
      height: 152px;
      width: 152px;
    }
    */
  }
  
  @media only screen and (max-width:375px) {
    /*
    .thumbnail{
      height: 144px;
      width: 144px;
    }
    */
  }
  
  
  @media only screen and (max-width:374px) {
    .thumbnail{
      cursor: pointer;
      /*height: 124px;*/
      /*width: 124px;*/
      z-index: 300;
    }
  
    .thumb-container{
      padding-right: 17px;
      padding-bottom: 13px;
    }
  }