@font-face {
    font-family: 'Plantin';
    src: url('../assets/fonts/Plantin.woff2') format('woff2'),
         url('../assets/fonts/PLantin.woff') format('woff');
    font-weight: 100 200 300 400 500 600 700 800 900;
    font-style: normal;
}

@font-face {
  font-family: 'Plantin Bold';
  src: url('../assets/fonts/PlantinStd-Bold.woff2') format('woff2'),
       url('../assets/fonts/PlantinStd-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Plantin Italic';
  src: url('../assets/fonts/PlantinStd-Italic.woff2') format('woff2'),
       url('../assets/fonts/PlantinStd-Italic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* Alright Sans */
@font-face {
  font-family: 'Alright Sans';
  src: url('../assets/fonts/AlrightSans.woff2') format('woff2'),
         url('../assets/fonts/AlrightSans.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}



/* Headline */
h1 {
  display: inline-block;
  font-family:'Plantin', serif;
  font-weight:300;
  letter-spacing:0.12rem;
  font-size: 4rem;
  /*line-height: normal;*/
  color:var(--color-black);
  margin: auto 0;
}

/* Entry Title */
h2 {
  font-family:'Plantin', serif;
  font-weight:300;
  letter-spacing:0.06rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color:var(--color-black);
  margin: auto 0;
}

/* Chapter Heading */
h3 {
  font-family:'Plantin Bold';
  font-weight: 700;
  letter-spacing:0.012rem;
  font-size: 1.25rem;
  color:var(--color-black);
  margin: auto 0;
  margin-top: 3rem;
}

/* Subtitle */
h4 {
  font-family:'Alright Sans';
  font-weight:300;
  font-size: 1rem;
  color:var(--color-darkgrey);
}

/*
h5 {
  font-family:'Alright Sans', serif;
  font-weight:300;
  font-size: 1rem;
  line-height: 1.5rem;
  color:var(--color-grey);
}
*/

h6 {
  display: inline-block;
  font-family:Abel;
  font-weight:400;
  letter-spacing:.15rem;
  font-size: 1.2rem;
  line-height: 1rem;
  color:var(--color-darkgrey);
}


/* Body */

blockquote p {
  font-family:'Plantin Italic', serif;
  font-weight:300;
  font-size: 1.35rem;
  line-height: 1.75rem;
  font-style: italic;
  color:var(--color-darkgrey);
}

p {
  font-family:'Plantin', serif;
  font-size: 1.3rem;
  line-height: 2rem; /*1.65*/
  color:var(--color-black);
  text-align: justify; /* newspaper justification*/
}

strong {
  font-family:'Plantin Bold';
}

li > p {
  color:var(--color-darkgrey);
  font-size: 1.2rem;
  line-height: 1.4rem;
}

/*
sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em;
  font-size: smaller;
}
*/

/*
h2.bold{
  font-weight: 600;
}

h3.bold{
  font-weight: 600;
}

h6:hover{
  color:var(--color-powder);
}

h6.bold{
  font-weight: 600;
}
*/

/*
p.tab{
  margin-block-start:0;
  margin-block-end:0;
  font-family:'EB Garamond', serif;
  font-weight: 300;
  letter-spacing:0.05rem;
  font-size: 1.41rem;
  font-style: italic;
  line-height: 2.4rem;
  margin-left:60px;
}
*/

/*
a:visited {
  color:var(--color-black);
}
*/

/*
hyphens: auto;
-webkit-hyphens: auto;
-ms-hyphens: auto;
*/

/*
h2:not(.italic):hover{
  font-weight: 600;
}
h2.italic:hover{
  font-weight: 500;
}
h2.bold{
  font-weight: 600;
}
h2.click:hover {
  font-weight:500;
}
*/

/*
h3.link:hover {
  color:var(--color-powder);
}
*/

/*
h4.click:hover {
  font-weight:400;
}
*/

/*
h5.link{
  cursor:pointer;
}
*/

/*
a {
  color:var(--color-darkgrey);
  font-weight: 600;
  cursor: pointer;
}

a:hover {
  color:var(--color-powder);
}

q {
  font-family:'EB Garamond', serif;
  font-size: 1.38rem;
  font-style: italic;
  color:var(--color-grey);
}
*/